body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #202e3f;
}

header {
    background-color: #f9f9f9;
    padding: 3px 0px;
    box-shadow: 0px 1px 1px 0px #44a4be;
    position: fixed;
    top:0;
    z-index:1000;
    width: 100%;
    color: #202e3f;
}

#intro {
    background-color: #cae5ff;
    padding: 100px 0 30px 0;
}

#services {
    background-color: #44a4be;
    padding: 30px 0 30px 0;
}

#contact {
    background-color: #336699;
    padding: 30px 0 30px 0;
    color: #fff;
}

footer {
    background-color: #202e3f;
    padding: 10px 0;
    color: #fff;
}

.content {
    width: 80%;
    max-width: 1140px;
    margin: auto;
}

.center {
    text-align: center;
}

.flex-box {
    display: flex;
}

.flex-box li {
}

h1 {
    text-align: center;
    font-size: 38px;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

a {
    color: #000;
}

a:hover {
    color: #336699;
}

p {
    text-align: justify;
}

img.icon {
    vertical-align: middle;
    margin-left: 5px;
}

.button {
    display: block;
    padding: 10px 0;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    background-color: #44a4be;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #44a4be;
    text-align: center;
}

.button:hover {
    background-color: #4bb2ce;
    color: #fff;
}

.button.dark-blue {
    background-color: #202e3f;
    box-shadow: 0 0 2px 0 #202e3f;
    color: #cae5ff;
}

.button.dark-blue:hover {
    background-color: #2e435b;
    color: #cae5ff;
}

.button.blue {
    background-color: #2980b9;
    box-shadow: 0 0 2px 0 #2980b9;
}

.button.blue:hover {
    background-color: #3498db;
    color: #fff;
}

header .content.flex-box {
    width: 100%;
    max-width: none;
    align-items: center;
    justify-content: space-between;
}

header p {
    margin: 0 0 0 20px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
    align-items: center;
}

header ul li {
    margin-left: 20px;
}

header ul li .button {
    margin: 0;
}

header a {
    color: #202e3f;
    text-decoration: none;
}

header a:hover {
    color: #000;
    text-decoration: underline;
}

header a.button:hover {
    text-decoration: none;
}

header #mobile-menu {
    display: none;
}

@media (max-width: 1024px) {
    header #mobile-menu {
        display: block;
    }
}

#intro h3 {
    color: #44a4be;
}

#intro .flex-box {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#intro .flex-img.left {
    margin-right: 50px;
}
#intro .flex-img.right {
    margin-left: 50px;
}

#intro ul.flex-box {
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#intro ul.flex-box li {
    width: 40%;
    text-align: justify;
    background-color: #fff;
    border: 1px solid #336699;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #336699;
    padding: 20px;
}

@media (max-width: 1024px) {
    #intro ul.flex-box {
        flex-wrap: wrap;
        justify-content: space-around;
    }   
    #intro ul.flex-box li {
    margin-top: 20px;
    width: 100%;
    }
}

#services {
    color: #000;
}

#services .flex-box {
    justify-content: center;
}

#chiffres {
    border: 1px solid #202e3f;
    border-radius: 110px;
    box-shadow: 0 0 10px 0 #202e3f;
    padding: 0 20px;
    background-color: #cae5ff;
    margin-left: 30px;
}

#chiffres h3 {
    text-align: center;
}

#chiffres li {
    margin: 5px 0;
}

#contact .flex-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}

li.mail {
    background-image: url("img/icons/email-4-32-white.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 6px 0 6px 40px;
    margin: .4em 0;
}

li.chat {
    background-image: url("img/icons/speech-bubble-26-32-white.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 6px 0 6px 40px;
    margin: .4em 0;
}

footer .flex-box {
    justify-content: space-between;
    flex-wrap: wrap;
}

footer #license {
    flex-basis: 21%;
}

footer #license p {
    text-align: right;
    font-size: 11px;
}

@media (max-width: 1024px) {
    footer .flex-box {
        justify-content: center;
    }
    footer #license {
        flex-basis: auto;
    }
    footer #license p {
        text-align: center;
    }
}

#contact a, footer a {
    color: #fff;
}